<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <title>立命祭2019来校者アンケート 結果</title>
</head>
<body onLoad="tm()">
  <h1>立命祭2019来校者アンケート結果</h1>
  <p>excellent…<%= @number.excellent %>/verygood…<%= @number.verygood %>/good…<%= @number.good %>/average…<%= @number.average %>/poor…<%= @number.poor %></p>
  <br>
  <footer>
    <p>&copy; Ritsumeikan Junior &amp; Senior High School. All rights reserved.</p>
  </footer>
</body>
</html>
